<%= form_with model: @expense do |f| %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :category %>
    <%= f.select :category,
                 Category.pluck(:name) %>
  </div>

  <div>
    <%= f.label :amount %>
    <%= f.number_field :amount %>
  </div>

  <div>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>

  <div>
    <%= f.label :payment_method %>
    <%= f.text_field :payment_method %>
  </div>

  <div>
    <%= f.label :status %>
    <%= f.select :status,
                 Expense.statuses.keys %>
  </div>

  <div>
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <%= f.submit %>

<% end %>